/* BOOTSTRAP COMPONENTS OVERRIDE */

.card {
  --bs-card-bg: var(--surface-white);
  --bs-card-border-color: var(--border-color);
  --bs-card-border-radius: var(--bs-border-radius-lg);
  --bs-card-inner-border-radius: var(--bs-border-radius-lg);
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--border-color);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-md);
}

.btn {
  --bs-btn-padding-y: 0.6rem;
  --bs-btn-padding-x: 1.2rem;
  --bs-btn-border-radius: var(--bs-border-radius);
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.nav-link {
  color: var(--bs-secondary);
  transition: color 0.2s ease;
  font-weight: 500;
}

.nav-link :hover,
.nav-link.active {
  color: var(--bs-primary) !important;
}

/* General formatting of schedules to suit mobile devices */
.table-container {
  border: 1px solid var(--border-color);
  border-radius: var(--bs-border-radius);
  overflow: hidden;
  background: var(--surface-white);
}
