/*  CSS VARIABLES  */
:root {
  /* Colors (bs for Bootstrap)*/
  --bs-primary: #135bec;
  --bs-primary-rgb: 19, 91, 236;
  --bs-primary-hover: #0f4bc5;

  --bs-secondary: #64748b;
  --bs-secondary-rgb: 100, 116, 139;

  --bs-success: #10b981;
  --bs-danger: #ef4444;
  --bs-warning: #f59e0b;
  --bs-info: #3b82f6;

  /* Backgrounds & Surfaces */
  --bs-body-bg: #f8fafc;
  --bs-body-color: #1e293b;
  --surface-white: #ffffff;
  --border-color: #e2e8f0;

  /* Typography */
  --bs-body-font-family: "Inter", system-ui, -apple-system, sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-heading-color: #0f172a;

  /* Border Radius */
  --bs-border-radius: 0.5rem;
  --bs-border-radius-lg: 1rem;
  --bs-border-radius-xl: 1.5rem;

  /* Elevation & Shadows */
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md:
    0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  /* Layout Dimensions */
  --sidebar-width: 260px;
  --navbar-height: 72px;
}
