/* Sidebar style */
body {
  font-family: var(--bs-body-font-family);
}

.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--surface-white);
  transition: transform 0.8s ease;
}

.mobile-overlay {
  /* width: 100%;
  height: 100%; */
  position: fixed;
  /* inset: 0; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 90;
  display: none;
}

.nav-link.active,
.nav-link.active .material-symbols-rounded {
  color: #ffffff !important;
}

.menu-label {
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--bs-body-color);
  margin: 1.5rem 0 0.5rem 1rem;
}

.sidebar .nav-link {
  color: var(--bs-secondary);
  border-radius: var(--bs-border-radius);
  padding: 0.6rem 1rem;
}

.sidebar .nav-link:hover:not(.active) {
  background-color: #f1f5f9;
  color: var(--bs-primary);
}

.material-symbols-rounded {
  font-size: 20px;
}

@media (max-width: 991px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar.active {
    transform: translateX(0);
  }
  .mobile-overlay.active {
    display: block;
  }
  .main-content {
    margin-left: 0 !important;
  }
}
/* end Sidebar style */

/* start main section style */
@media (min-width: 991px) {
  .main-content {
    margin-left: var(--sidebar-width) !important;
    padding: 2rem 0.2rem;
    background-color: var(--surface-white);
    min-height: 100vh;
  }

  .stat-card {
    border-radius: var(--bs-border-radius-lg);
  }
}
/* start status cards style */
.stat-card {
  height: 110px;
  background-color: var(--surface-white);
  border-radius: var(--bs-border-radius);
  box-shadow: var(--shadow-md);
  /* transition: transform 5s ease; */
}

.stat-card:hover {
  transform: translateY(5px);
  box-shadow: var(--shadow-lg);
}

.stat-label {
  color: var(--bs-secondary);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.stat-value {
  color: var(--bs-heading-color);
  font-weight: 700;
}

.stat-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-icon span {
  font-size: 2.5rem;
}

/* end status cards style */
/* start section style */
.content-section {
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* start product section style */
/* header */
.search-box {
  transition: 0.5s ease;
  background-color: var(--surface-white);
  border: 1px solid var(--border-color);
}

.search-box:focus-within {
  border-color: var(--bs-primary) !important;
  box-shadow: var(--shadow-md) !important;
  background-color: #fff;
}
/* end header */
/* table */
.custom-table thead th,
.custom-footer {
  background-color: #f8f9fc !important;
}

.custom-table thead th {
  font-size: 0.8rem;
  font-weight: 700;
  color: black;
  letter-spacing: 0.5px;
  padding: 1rem 1rem;
  border-bottom: 1px solid #edf2f7;
}

.custom-table tbody tr td {
  background: var(--surface-white);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.custom-table tbody td {
  padding: 1rem 1rem;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.btn-action {
  background: transparent;
  border: none;
  padding: 5px;
  transition: transform 0.2s ease;
}

.btn-action:hover {
  transform: scale(1.2);
}

.page-link {
  background: transparent;
  color: #718096;
  min-width: 32px;
  text-align: center;
  font-weight: 600;
}

.page-item.active .page-link {
  background-color: #0d6efd !important;
  color: white !important;
}
/* end table */

/* end product section style */
/* end section style */

/* end main section style */
