/* Sidebar style */

body {
  font-family: var(--bs-body-font-family);
}

.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--surface-white);
  transition: transform 0.8s ease;
}

.mobile-overlay {
  /* width: 100%;
  height: 100%; */
  position: fixed;
  /* inset: 0; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 90;
  display: none;
}

.nav-link.active,
.nav-link.active .material-symbols-rounded {
  color: #ffffff !important;
}

.menu-label {
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--bs-body-color);
  margin: 1.5rem 0 0.5rem 1rem;
}

.sidebar .nav-link {
  color: var(--bs-secondary);
  border-radius: var(--bs-border-radius);
  padding: 0.6rem 1rem;
}

.sidebar .nav-link:hover:not(.active) {
  background-color: #f1f5f9;
  color: var(--bs-primary);
}

.material-symbols-rounded {
  font-size: 20px;
}

@media (max-width: 991px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar.active {
    transform: translateX(0);
  }
  .mobile-overlay.active {
    display: block;
  }
  .main-content {
    margin-left: 0 !important;
  }
}
/* end Sidebar style */

/* start main section style */
@media (min-width: 991px) {
  .main-content {
    margin-left: var(--sidebar-width) !important;
    padding: 2rem 0.2rem;
    background-color: var(--surface-white);
    min-height: 100vh;
  }

  .stat-card {
    border-radius: var(--bs-border-radius-lg);
  }
}
/* start status cards style */
.stat-card {
  height: 110px;
  background-color: var(--surface-white);
  border-radius: var(--bs-border-radius);
  box-shadow: var(--shadow-md);
}

/* ----------eidet card------------------ */
.stat-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; 
    width: 5px; 
    height: 100%;
    z-index: 1;
}

/* الأخضر (Sales) */
.stat-card.type-success::before {
    background-color: #198754; 
}

/* الأزرق (Orders) */
.stat-card.type-primary::before {
    background-color: #0d6efd; 
}

/* السماوي (Products) */
.stat-card.type-info::before {
    background-color: #0dcaf0; 
}

/* الأحمر (Low Stock) */
.stat-card.type-danger::before {
    background-color: #dc3545; 
}
/* end eidte */

.stat-card:hover {
  transform: translateY(5px) !important;
  box-shadow: var(--shadow-lg);
}

.stat-label {
  color: var(--bs-secondary);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.stat-value {
  color: var(--bs-heading-color);
  font-weight: 700;
}

.stat-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-icon span {
  font-size: 2.5rem;
}

/* end status cards style */

.content-section {
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* end main section style */
